body {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  color: #eee;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
}

form {
  background-color: #15172b;
  border-radius: 20px;
  height: 420px;
  padding: 15px;
}

.parede {
  color: #f4901d;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  
}
.medidas {
  display: flex;
  justify-content: center;
}
.medidas label {
  padding: 5px;
  color: #f4901d;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}

input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #f4901d;
  font-size: 12px;
  height: 100%;
  outline: 0;
  padding: 2px 20px 0;
  width: 100%;
}

#calcular {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#btnCalcular {
  background-color: #f4901d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 20%;
}

#btnCalcular:active {
  background-color: #06b;
}

#resultado {
  color: #eee;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}